@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.code {
    font-family: 'PT Mono', monospace;
    background-color: rgb(35, 35, 35);
}
.code .headline{
    font-size: 48px!important;
}
.keyword {
    color: #C586C0;
}
.kwargs {
    color: #9CDCFE;
}
.code-wrapper {
    max-width: 720px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(97, 97, 97);
    padding: 24px 18px;
}