.cb_table {
    max-width: 512px;
    margin: auto;
}

.cb_cell {
    display: inline-table;
}
.cb_cell.cb_left {
    width: 128px;
    text-align: right;
    padding-right: 20px;
}
.cb_cell.cb_right {
    max-width: 640px;
}

@media screen and (max-width: 600px) {
    .screenshot_cb {
        content: url('https://kensoi.github.io/mobile_screenshot.png');
    }
}
@media screen and (min-width: 601px) {
    .screenshot_cb {
        content: url("https://kensoi.github.io/vk_screenshot.png");
    }
}