.cb_table {
    max-width: 512px;
    margin: auto;
}

.cb_cell {
    display: inline-table;
}
.cb_cell.cb_left {
    width: 128px;
    text-align: right;
    padding-right: 20px;
}
.cb_cell.cb_right {
    max-width: 640px;
}

@media screen and (max-width: 600px) {
    .screenshot_cb {
        content: url('https://psv4.userapi.com/c537232/u517114114/docs/d45/5c93bedb611c/Screenshot_20201225-195215.png?extra=lhQHZ7XLX855Cw3vhJON3-BGvakrEIw-ei_MS49XRvs_ZBpJo_KYP1stpS4Fr2PX-LyiRUvZHSIU_tXGD3AxpvY9UIXtLDVnWLRnUNmUNsN0ZJAiJ7RZoGdKsMbucgijdnbFXlM1aOJw_hQx5q-tdcRa');
    }
}
@media screen and (min-width: 601px) {
    .screenshot_cb {
        content: url("https://psv4.userapi.com/c537232/u517114114/docs/d21/287c9557c0e4/vk_screenshot.png?extra=Ef8NLqXglLZDBTa1WtJPNXnt_bc00NjctEZBJ5P-fb_j2BO3ltiBw4yjtuCngyV1LjD4HQBaIhy7cHXZpDwsqQ5ey6MORgtY5iCeLurP7iIUT4amEc4hxcKlLe5VfcBCol_75OrszDD8tAYUVonmjTMP");
    }
}