.download-table {
    display: table;
}
.download-cell {
    display: inline-table; 
    vertical-align: middle;
    box-sizing: border-box;
    border: 2px solid rgba(36,36,36, 1); 
    border-radius: 6px 6px 6px 36px; 
    padding: 4px 24px;
    overflow: hidden; 
}
.download-cell img {
    display: block; 
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}
.download-cell p {
    max-width: 192px;
    color: rgba(128,128,128, 1)
}
.download-cell input {
    margin-left: 4px;
    margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
    .download-cell {
        margin: 2.5%;
    }
    .download-cell img {
        height: 90px;
        max-width: 100%;
    }

}
@media screen and (min-width: 800px) {
    .download-cell {
        margin: 12px;
    }
    .download-cell img {
        width: 192px;
    }
}