.footer-table {
    max-width: 1024px;
    margin: auto;
    overflow: hidden;
    padding: 24px 0 16px 0;
}
.footer-cell {
    width: 192px;
    padding-bottom: 20px;
    display: inline-table;
}
.footer-cell-main {
    width: 320px;
    margin-right: 20px;   
    padding-bottom: 72px;   
    vertical-align: top;
    display: inline-block;
}
.footer-cell-channels {
    display: inline-table; 
    vertical-align: top;
    padding-top: 12px;
}
.footer-cell-logo {
    width: 256px;
    height: auto;
    padding-top: 24px;
}
.footer-cell-svg {
    width: 36px;
    padding: 0 0 0 12px;
}
.footer-cell-headline {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #AAA;
    letter-spacing: 2px;
}
.footer-cell-link {
    padding-bottom: 12px;
}

@media screen and (max-width: 480px){
    .footer-cell-main {
        text-align: center;
    }
    .footer-cell-channels {
      width: 100%;
      text-align: center;
    }
}
@media screen and (min-width: 480px) and (max-width: 640px){
    .footer-cell-channels {
      width: 100%;
      text-align: center;
    }
    .footer-cell {
        text-align: left;
    }
    .footer-table {
        text-align: center;
    } 
}
@media screen and (max-width: 1024px){
    .footer-cell-main {
      width: 100%;
    }
  } 