@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "layout/layout.css";

@import "optional/header.css";
@import "optional/footer.css";

:root {
    --background: #e0e0e0;
    --toast: #ffffff;
    --shadow: rgba(76, 76, 76, 0.1);
    --gray: rgb(139, 139, 139);
    --font-color: #000000;
    --inverse: #202020;
    --layout-padding: 64px;
}

@media (prefers-dark-interface) {
    :root {
        --background: #1f1f1f;
        --toast: #000000;
        --shadow: hsla(0, 0%, 70%, 0.1);
        --gray: #737373;
        --font-color: #FFFFFF;
        --inverse: #dedede;
        --layout-padding: 64px;
    }
}

html {
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    background: var(--background);
}

.select-none {
    user-select: none
}

.root {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 8px 0 72px 0;
    overflow: hidden;
}


::-webkit-scrollbar{
    width:0px;
    height:0px;
}
::-webkit-scrollbar-button{
    width:0px;
    height:0px;
}

@media screen and (max-width: 360px) { 
    .root {
        font-size: larger;
    }
}
@media screen and (max-width: 1024px) { 
    
    .layout-panel {
        width: 90%;
    
    }
}