.article {
    background: #fcfcfc;
    box-shadow: var(--shadow);
    border-radius: 4px;

    max-width: 90vw;
    min-height: 256px;
    text-align: left;

    margin: auto;
    margin-bottom: var(--block-space);
}

.article-standart {
    width: 800px;
}

.article-wide {
    width: 1024px;
}

.article-cell {
    max-width: 100%;
    height: 12px;
    margin: unset;
}
.article-cell .article-content{
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-table {
    max-width: 1024px;
    width: 90%;
    padding: var(--block-space) 5%;

    margin: auto;
    display: grid;
    grid-gap: var(--block-space);
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
}

.article-caption {
    padding: 18px 10px;
    box-shadow: var(--shadow);
    border-bottom: 1px solid #000000;
    font-size: x-large;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-content {
    padding: 36px 24px;
}
.article-paragraph {
    padding: 4px 24px;
}
.article-content.no-top {
    padding-top: 0px;
}
.article-headline {
    font-size: xx-large;
    padding: 36px 24px;

}

@media screen and (min-width: 1025px) {
    .article-table{
        grid-template-columns: 1fr 1fr 1fr;
    }
}