.header {
    background: #000000;
    color: #ffffff;
    height: 48px;
    padding: 0 5%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: var(--shadow);
    box-sizing: border-box;
    user-select: none;
}

.header-headline {
    line-height: 48px;
    width: calc(100% - 100px);
    margin: 0 50px;
    box-sizing: content-box;
    font-size: 18px;
    float: left;
    overflow-x: scroll;
}

.header-menu {
    position: fixed;
    width: 24px;
    height: 24px;

    max-width: 64px;
    max-height: 64px;
    top: 12px;
    left: calc(5vw + 8px);
    z-index: 101;
    
    background-position: center center;
    background-size: fit;
    float: left;
}

@media screen and (max-width: 512px) {
    .header {

    }
}