:root {
    --block-space: calc(1.87500vw + 10px);
    --menu-size: 384px;
    --content-offset: 0;
    --menuhr: #888888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --footer-bg: #0000000;
        --menu-bg: rgb(34, 34, 34);
        --font-color: #ffffff;
        --font-color-menu: #000000;

        --shadow: none;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #c7c7c7;
        --footer-bg: rgb(34, 34, 34);
        --menu-bg: rgb(16, 16, 16);
        --font-color: #000000;
        --font-color-menu: #ffffff;

        --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.227);
    }
}