.spoiler {
    max-width: 100%;
    width: 512px;
    max-height: 55px;
    background-color: #ffffff;
    border: 1px solid ffffff;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 18px auto;
    box-shadow: var(--shadow);
    transition: 0.5s;
}
.spoiler:focus {
    max-height: 512px;
    overflow-y: scroll;
}
.spoiler-public {
    min-height: 36px;
    padding: 18px 12px;
    box-sizing: inherit;
}

.spoiler-private {
    min-height: 36px;
    padding: 18px 12px;
    box-sizing: inherit;
    border-top: 2px solid black;
}