@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

* {padding: 0; margin: 0}

body {
    background: #000;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.post {
    max-width: 480px;
    min-height: 640px;
    margin: auto;
    margin-top: calc(50vh - 320px);
    font-weight: 400;

    background: linear-gradient(to top, #151515, #252525);
    border: 2px solid #303030;
    border-radius: 32px;
    padding: 0 16px;
}
.post > .headline {
    font-weight: 600;
    font-size: xx-large;
    padding: 32px 0;
}
.post > .paragraph {
    font-weight: 400;
    padding: 8px 0;
}
.post > .emoji {
    font-weight: 600;
    font-size:xx-large;
    padding: 8px 0;
    text-align: right;
}