@import "input.css";
@import "statement.css";

.layout-div {
    overflow-x: hidden;
    margin: 0 0 var(--layout-padding);
}
.styled {
    background-color: #111;
    border: 2px solid #222;
    border-radius: 6px;
}

.panel {
    width: 80%;
    margin: 0 10% var(--layout-padding);
    max-width: 1152px;
}

.table {
    vertical-align: top;

    text-align: center;
}

.table-line {
    margin: 8px 0
}

.table-cell {
    min-width: 256px;
    max-width: 512px;
    margin: 0 16px;
    display: inline-block;

    text-align: left;
}
.layout-paddings {
    padding: 16px 5%;
    box-sizing: border-box;
}