@font-face {
    font-family: 'TT Commons';
    src: url('fonts/TTCommons-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Commons';
    src: url('fonts/TTCommons-DemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Commons';
    src: url('fonts/TTCommons-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TT Commons';
    src: url('fonts/TTCommons-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Bold.ttf');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Medium.ttf');
    font-weight: Medium;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Press Start';
    src: url('fonts/PressStart.ttf');
    font-weight: normal;
    font-style: normal;
}

